layout {
	default_tab_template name="default" {
		pane size=1 borderless=true {
			plugin location="file:~/dotfiles/.config/zellij/plugins/zjstatus.wasm" {
				format_left   "{command_uptime} {command_load} {command_cores}{command_freq} {command_memt}{command_memv} {command_diskt}{command_diskv}"
				format_center "{tabs}"
				format_right  "{datetime}"
				format_space  ""

				hide_frame_for_single_pane "true"

				mode_normal  "#[bg=blue] "
				mode_tmux    "#[bg=#ffc387] "

				tab_normal   "#[fg=#6C7086] {name} "
				tab_active   "#[fg=#9399B2,bold,italic,bg=#4a4a4a] {name} "

				command_uptime_command    "bash -c ~/.config/zellij/shell/uptime.sh"
				command_uptime_format     "#[bg=#ffffff,fg=#73a1ff]{stdout}"
				command_uptime_interval   "60"
				command_uptime_rendermode "static"

				command_memt_command    "bash -c ~/.config/zellij/shell/mem_total.sh"
				command_memt_format     "#[bg=green,bold]{stdout}#[bg=green]G"
				command_memt_interval   "5"
				command_memt_rendermode "static"

				command_memv_command    "bash -c ~/.config/zellij/shell/mem_val.sh"
				command_memv_format     "#[bg=green,bold]{stdout}#[bg=green]%"
				command_memv_interval   "5"
				command_memv_rendermode "static"

				command_diskt_command    "bash -c ~/.config/zellij/shell/disk_total.sh"
				command_diskt_format     "#[bg=#9a4eae,bold]{stdout}#[bg=#9a4eae]G"
				command_diskt_interval   "60"
				command_diskt_rendermode "static"

				command_diskv_command    "bash -c ~/.config/zellij/shell/disk_value.sh"
				command_diskv_format     "#[bg=#9a4eae,bold]{stdout}#[bg=#9a4eae]%"
				command_diskv_interval   "60"

				command_cores_command "nproc"
				command_cores_format  "{stdout}x"
				command_cores_interval "6000"
				command_cores_rendermode "static"

				command_freq_command "bash -c ~/.config/zellij/shell/freq.sh"
				command_freq_format  "#[bg=blue,bold]{stdout}#[bg=blue]GHz"
				command_freq_interval "5"
				command_freq_rendermode "static"

				command_load_command "bash -c ~/.config/zellij/shell/usage.sh"
				command_load_format  "#[bg=yellow,bold,fg=#404040]{stdout}"
				command_load_interval "5"
				command_load_rendermode "static"

				datetime        "#[fg=#6C7086] {format} "
				datetime_format "%a %Y-%m-%d %H:%M:%S"
				datetime_timezone "Europe/Berlin"
			}
		}
		children
	}

	tab_template name="repo" {
		pane split_direction="vertical" {
			pane size="55%" command="lazygit"
			pane
		}
	}

	tab name="general" focus=true

	tab name="|" cwd="/home/mier/okt"

	tab name="api" cwd="/home/mier/okt/okt-api" {
		pane split_direction="vertical" {
			pane size="55%" command="lazygit"
			pane
		}
	}

	tab name="gestor" cwd="/home/mier/okt/okt-gestor-vue" {
		pane split_direction="vertical" {
			pane size="55%" command="lazygit"
			pane
		}
	}

	tab name="pelayio" cwd="/home/mier/okt/pelayio" {
		pane split_direction="vertical" {
			pane size="55%" command="lazygit"
			pane
		}
	}
}
