.stfolder
.ssh
.local
.aws
.gitconfig
.vscode
.cursor
.config/Cursor
nixos
.DS_Store
settings.local.json
.lock

.claude/tasks/
.claude/usage-data/
.claude/mcp-needs-auth-cache.json
.claude/backups
.claude/agents
