configuration {
    font:               "TX-02 12";
    show-icons:         true;
    icon-theme:         "Papirus-Dark";
    display-drun:       "";
    display-run:        "";
    display-window:     "";
    drun-display-format: "{name}";
}

@theme "blood-moon"
