alias ll='ls -alF'
alias la='ls -a'
alias l='ls -CF'
alias lr='ls -R'
alias spicetify="~/spicetify-cli/spicetify"
alias please=sudo
alias bashrc="gedit ~/.bashrc"
alias zshrc="gedit ~/.zshrc"
alias aliases="gedit ~/.aliases"
alias alacrittyrc="gedit ~/.config/alacritty/alacritty.yml"
alias nfrc="nano ~/.config/neofetch/config.conf"
alias nf=neofetch
alias cls=clear
alias status="uptime ; nc -zv 192.168.0.2 22 -w 1 ; nc -zv ubuntu.com 80 -w 1 ; nc -zv 192.168.0.10 22 -w 1 ; nc -zv 192.168.0.88 22 -w 1 ; nc -zv 192.168.0.17 22 -w 1"
alias nethogs="sudo nethogs"
alias "cd.."="cd .."
alias remove="sudo apt remove -y"
alias install="sudo apt install -y"
alias update="sudo apt update -y"
alias upgrade="sudo apt update -y ; sudo apt upgrade -y ; sudo apt autoremove -y ; flatpak update -y ; spicetify upgrade ; spicetify update"
alias purge="sudo apt -y purge"
alias list="sudo apt list"
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias reboot="sudo reboot"
alias onedrive="~/launchOneDrive.sh"
alias ssh="TERM=xterm-256color ssh"
alias server="TERM=xterm-256color ssh server@192.168.0.88"
alias pi="TERM=xterm-256color ssh pi@192.168.0.2"
alias dirbuster="source /opt/dirbuster/DirBuster-1.0-RC1.sh"
alias htb="sudo openvpn ~/Downloads/*.ovpn"
alias nmap="sudo nmap"
alias nano="sudo nano"
alias hc="headsetcontrol"
alias %%="%1"
